.contentbox{
    /* top:100px; */
    width:180px;
    height: 160px;
    margin-right:50px;
    margin-left:20px;
    margin-top: 80px;
    position: relative;
    display: inline-block;
    box-shadow: 5px 5px 10px 0px rgba(222, 222, 222, 0.881);
    background-color: rgba(255, 255, 255, 0.263);
    border-radius:10px;
    transition: 0.3s;
}
.contentbox img{
    width: 100%;
}
.contentbox h2{
    color:black;
    font-size:17px;
    margin: 5px;
    letter-spacing: 3px;
}

.contentbox h2::after{
    content:'';
    background-color: rgba(81, 95, 207, 0.352);
    width: 120px;
    height: 4px;
    position:absolute;
    left:2%;
    bottom:10px;
}

.contentbox:hover{
    scale: 0.97;
    box-shadow: none;
}